<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= cl_image_tag("chat2_zpakrx", height: 80, width: 90)%>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <div class="navbar-nav align-items-md-center ">
      <%= link_to "Comment ça marche ?", "#howitworks", class: "text-info nav-item mr-5" %>
      <%= link_to "Les types de massage", "#massagetypes", class: "text-info nav-item mr-5" %>
        <% if user_signed_in? %>
          <p class="mb-0 font-weight-bold mr-3 text-danger nav-item">
            Salut <%= link_to current_user.first_name.capitalize, profil_path(current_user), class: "text-danger" %> !
          </p>
          <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "btn btn-outline-success nav-item" %>
        <% else %>
          <%= link_to "Se connecter / créer un compte", new_user_session_path ,class: "btn btn-outline-success nav-item" %>
        <% end %>
    </div>
  </div>
</nav>
