
<div class="card p-3" style="width: 45rem;">
  <h2>Mes informations</h2>
  <div class="card-body d-flex align-items-center">
    <%= image_tag "#{user.avatar}", crop: :fill, height: 100, width: 100, class: "avatar-large"%>
    <div class="card-text d-flex">
      <ul class="massage_list mx-2 mr-4">
        <li><strong>Nom: </strong></li>
        <li><strong>Prénom: </strong></li>
        <li><strong>Adresse: </strong></li>
        <li><strong>Code Postal: </strong></li>
        <li><strong>Ville: </strong></li>
        <li><strong>Email: </strong></li>
      </ul>
       <ul class="massage_list">
        <li><%= user.last_name %></li>
        <li><%= user.first_name %></li>
        <li><%= user.address %></li>
        <li><%= user.ZIP_code%></li>
        <li><%= user.city %></li>
        <li><%= user.email %></li>
      </ul>
    </div>
  </div>
</div>
