<div class="card" id="card">
  <div class="card-body d-flex flex-column justify-content-between ">
    <div class="d-flex align-items-center justify-content-around">
      <%= link_to masseur_path(masseur.id) do %>
        <%= cl_image_tag "#{masseur.avatar}",crop: :fill, height: 100, width: 100, class: "avatar-large" %>
      <% end %>
      <div class="d-flex flex-column align-items-center">
        <h4 class="card-title"><%= link_to "#{masseur.first_name} #{masseur.last_name} ", masseur_path(masseur.id)%></h4>
        <% unless masseur.massages.empty? %>
          <ul class="massage_list">
          <% masseur.massages.each do |massage| %>
            <li><%= massage.massage_type %></li>
          <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <p class="card-text"><%= masseur.description %></p>
    <div class="d-flex justify-content-between align-items-end">
      <p>Ville: <%= masseur.city %></p>
      <% average = masseur.reviews.sum(&:rating) / masseur.reviews.size.to_f %>
      <p>
         Note : <%= masseur.rating.round(1) %>/5
      </p>
    </div>
  </div>
</div>
