<div class="container">
  <div class="row justify-content-center my-4">

      <div class="col-12 masseurs_container">
        <div class="filtres mr-3 mt-1" id="filter">
          <h1 class="text-info">Filtrez moi !</h1>
          <div class="accordion" id="accordionExample">
            <h3> Date </h3>
              <%= simple_form_for @user, url: masseurs_path, method: :get do |f|%>
                <%= f.input :ZIP_code, label: false,  as: :string, required: false, input_html: {id: "datepicker", class: "d-none"} %>
          </div>

            <h3>Type de massage</h3>
            <%= f.input :first_name, label: false, collection: MASSAGE_PRICE_AND_TYPE.keys, prompt: "Selectionner votre massage",selected: @massage_type %>
            <h3>Ma ville</h3>
            <%= f.input :city, label: false, input_html: { value: @city } %>
            <h3>Genre</h3>
            <%= f.input :gender, label: "", as: :radio_buttons, collection: User::GENRE, wrapper: :vertical_collection_inline %>

            <h3>Notes supérieures à</h3>
            <%= f.input :last_name, as: :radio_buttons, label: "", collection: Review::RATING, wrapper: :vertical_collection_inline %>
            <div class="d-flex justify-content-between">
              <%= link_to  "Effacer les filtres", masseurs_path, class: "btn btn-outline-success py-1 mt-3 text-center" %>
              <%= f.submit "Filtrer", class: "btn btn-info mt-3" %>
            </div>
            <% end %>
        </div>
        <div class="d-flex flex-column align-items-center">
          <h1 class="m-4 text-left">LES MASSO-THERAPEUTES <%= @title_inject %></h1>
          <div class="index_cards_masseurs">
            <% @masseurs.each do |masseur| %>
              <%= render 'masseur_card', masseur: masseur, classname: ""%>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>

