
<div class="container">
  <%= render 'masseurs/masseur_card_large', user: @masseur %>

  <div class="row flex-column-reverse  flex-md-row mt-4">
    <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
        <%= render 'massages/massages_prices',          masseur: @masseur %>
        <%= render 'masseurs/description_masseur_card', user: @masseur %>
        <%= render 'reviews/reviews_card',              reviews: @reviews %>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <div class="card p-2 h-100 d-flex justify-content-between">
        <h2 class="text-center my-5">Réservez votre massage</h2>
        <div class="form-wrapper" >
          <div class="card-body justify-content-center">
            <%= simple_form_for [@masseur, @booking] , method: :get, url: new_masseur_booking_path(@masseur.id) do |f| %>
              <%= f.input :massage, label: false, prompt: "Choisissez votre massage", collection: @masseur.massages.map(&:massage_type), class: "my-5 massage_name"  %>
              <p class="text-center my-2" >Choisissez la date et l'heure:</p>
              <%= f.input :start_date, label: false,  as: :string, required: false, input_html: {id: "datetimepicker",class: "d-none booking_date"} %>
              <div class="w-100 d-flex justify-content-center" data-toggle="modal" data-target="#exampleModal">
              </div>
          </div>
        </div>
        <button type="button" style="width: 30%; margin:auto;" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
          Réserver
        </button>


        <div class=" w-100 d-flex justify-content-end mt-5">
          <%= link_to "Retour à la liste", masseurs_path, class: "btn btn-outline-success m-3" %>
        </div>
      </div>
    </div>
  </div>
</div>



  <!-- MODAL DE CONFIRMATION -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div style= "border-radius: 10px" class="modal-content">
        <div class="modal-header" style="border-style: none">
          <h1 class="justify-content-center" id="exampleModalLabel">PROCHAIN RDV</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Vous avez rendez-vous le <strong><span class="date_modal"></span></strong>
             pour une séance de <strong><span class="massage_type_modal"></span></strong> avec :</p>
          <div class="d-flex justify-content-center">
          <%= render 'masseurs/masseur_card', masseur: @masseur %>
          </div>
          <div class="d-flex justify-content-center">
            <%= link_to "Annuler", masseur_path(@masseur), class: "btn btn-outline-success mr-3" %>
            <%= f.button :submit, "Valider", class: "btn btn-info" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN DE MODAL DE CONFIRMATION -->

<div id="booking-form-div" data-bookings ="<%= @bookings_date.to_json %>">
</div>

<!-- FIN DE MODAL DE CONFIRMATION -->
<div id="booking-form-div" data-bookings ="<%= @bookings_date.to_json %>">
</div>

