<h1>show masseur</h1>

<%= render 'masseur_card_large', user: @masseur %>
<%= render 'reviews/reviews_details_card' %>
<%= render 'description_masseur_card', user: @masseur %>
<%= render 'bookings/rdv_card' %>
<%= render 'reviews/reviews_card', reviews: @reviews %>
