<div class="container-massage">
  <%= render 'masseurs/masseur_card_large', user: @masseur, average: @average%>
  <div class="row">
    <div class="col-6 d-flex flex-column justify-content-between">
        <%= render 'massages/massages_prices'%>
        <%= render 'masseurs/description_masseur_card', user: @masseur %>
        <%= render 'reviews/reviews_card', reviews: @reviews %>
    </div>
    <div class="col-6">
      <div class="card p-2 h-100 d-flex justify-content-between">
        <h2 class="text-center my-5">Réservez votre massage</h2>
        <%= render 'bookings/form_add_booking' %>
        <div class=" w-100 d-flex justify-content-end mt-5">
          <%= link_to "Retour à la liste", masseurs_path, class: "btn btn-outline-success m-3"  %>
        </div>
      </div>
    </div>

  </div>
</div>
